<?xml version="1.0"?>
<configuration>
  <appSettings>    
    <!--Connection String-->
    <add key="connectionstring" value="server=CSDBServer101;database=BatmanOnDvd.Com;Integrated Security=SSPI;"/>    
    <!--<add key="connectionstring" value="server=10.128.100.230;database=BatmanOnDvd.Com;UID=WebApp1;Password=ConversionWebApp11;Persist Security Info=False;Connect Timeout=120"/>-->

    <!--The Stored Procedure that returns the data-->
    <add key="storedProcedure" value="pr_get_user_sessions"/>
    
    <!--File and FTP Uploader Setting-->
    <add key="fileNameFormat" value="BatmanOnDvd_Quigley_{0}_{1}.csv"/>
    <add key="filesPath" value="C:/BatchFiles/BatmanOnDvd/Quigley_Report/"/>
    <add key="logFile" value="C:/BatchFiles/BatmanOnDvd/Quigley_Report/Log/Log.txt"/>
    
    <!--Email Sender Settings-->
    <!--<add key="sendemailto" value="operations@kpidirect.com"/>
    <add key="sendemailtocc" value="klainez@conversionsystems.com"/>
    <add key="sendemailtoError" value="pdhruv@conversionsystems.com"/>    
    <add key="SmtpServer" value="localhost"/>-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="info@conversionsystems.com">
        <network host="localhost" port="25" defaultCredentials="true"/>  
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
