@charset "utf-8";
/* CSS Document */


img {
	border: none;
    max-width: 100%;
}

.webfont1 {font-family: 'Open Sans Condensed', sans-serif !important;}
.webfont1bold {font-family: 'Open Sans Condensed', sans-serif !important; font-weight: 700 !important;}
/* floats */

.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* FONT VARIANTS */
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}
.bold {font-weight: bold !important;}
.normal {font-weight: normal !important;}
.ital {	font-style: italic !important;}
.invisible {display: none !important;}
.block {display: block !important;}
.scored {text-decoration: underline !important;}
.unscored {text-decoration: none !important;}
.caps {text-transform: uppercase !important;}
.pad0 {padding-bottom: 0 !important;}
.pad6 {padding-bottom: 6px !important;}
.pad12 {padding-bottom: 12px !important;}
.pad20 {padding-bottom: 20px !important;}
.pad30 {padding-bottom: 30px !important;}
.white {color: #fff !important;}
.black {color: #000 !important;}
.blue {color: #0489f0 !important;}
.gray {color: #9d9d9d !important;}
.darkgray {color: #303030 !important;}
.red {color: #8a160f !important;}
.orange {color: #ff3708 !important;}
.green {color: #75ad54 !important;}
.margr20 {margin-right: 20px !important;}
.lh19 {line-height: 19px !important;}
.lh20 {line-height: 20px !important;}
.lh21 {line-height: 21px !important;}
.vmid {vertical-align:middle !important;}

/* FONT SIZES - from 5px - 100px - add class f[x] to an element where x is font size to force a different font size */

.f5 {font-size: 5px !important;}.f6 {font-size: 6px !important;}.f7 {font-size: 7px !important;}.f8 {font-size: 8px !important;}
.f9 {font-size: 9px !important;}.f10 {font-size: 10px !important;}.f11 {font-size: 11px !important;}.f12 {font-size: 12px !important;}.f13 {font-size: 13px !important;}.f14 {font-size: 14px !important;}.f15 {font-size: 15px !important;}.f16 {font-size: 16px !important;}.f17 {font-size: 17px !important;}.f18 {font-size: 18px !important;}.f19 {font-size: 19px !important;}.f20 {font-size: 20px !important;}.f21 {font-size: 21px !important;}.f22 {font-size: 22px !important;}.f23 {font-size: 23px !important;}.f24 {font-size: 24px !important;}.f25 {font-size: 25px !important;}.f26 {font-size: 26px !important;}.f27 {font-size: 27px !important;}.f28 {font-size: 28px !important;}.f29 {font-size: 29px !important;}.f30 {font-size: 30px !important;}.f31 {font-size: 31px !important;}.f32 {font-size: 32px !important;}.f33 {font-size: 33px !important;}.f34 {font-size: 34px !important;}.f35 {font-size: 35px !important;}.f36 {font-size: 36px !important;}.f37 {font-size: 37px !important;}.f38 {font-size: 38px !important;}.f39 {font-size: 39px !important;}.f40 {font-size: 40px !important;}.f41 {font-size: 41px !important;}.f42 {font-size: 42px !important;}.f43 {font-size: 43px !important;}.f44 {font-size: 44px !important;}.f45 {font-size: 45px !important;}.f46 {font-size: 46px !important;}.f47 {font-size: 47px !important;}.f48 {font-size: 48px !important;}.f49 {font-size: 49px !important;}.f50 {font-size: 50px !important;}.f51 {font-size: 51px !important;}.f52 {font-size: 52px !important;}.f53 {font-size: 53px !important;}.f54 {font-size: 54px !important;}.f55 {font-size: 55px !important;}.f56 {font-size: 56px !important;}.f57 {font-size: 57px !important;}.f58 {font-size: 58px !important;}.f59 {font-size: 59px !important;}.f60 {font-size: 60px !important;}.f61 {font-size: 61px !important;}.f62 {font-size: 62px !important;}.f63 {font-size: 63px !important;}.f64 {font-size: 64px !important;}.f65 {font-size: 65px !important;}.f66 {font-size: 66px !important;}.f67 {font-size: 67px !important;}.f68 {font-size: 68px !important;}.f69 {font-size: 69px !important;}.f70 {font-size: 70px !important;}.f71 {font-size: 71px !important;}.f72 {font-size: 72px !important;}.f73 {font-size: 73px !important;}.f74 {font-size: 74px !important;}.f75 {font-size: 75px !important;}.f76 {font-size: 76px !important;}.f77 {font-size: 77px !important;}.f78 {font-size: 78px !important;}.f79 {font-size: 79px !important;}.f80 {font-size: 80px !important;}.f81 {font-size: 81px !important;}.f82 {font-size: 82px !important;}.f83 {font-size: 83px !important;}.f84 {font-size: 84px !important;}.f85 {font-size: 85px !important;}.f86 {font-size: 86px !important;}.f87 {font-size: 87px !important;}.f88 {font-size: 88px !important;}.f89 {font-size: 89px !important;}.f90 {font-size: 90px !important;}.f91 {font-size: 91px !important;}.f92 {font-size: 92px !important;}.f93 {font-size: 93px !important;}.f94 {font-size: 94px !important;}.f95 {font-size: 95px !important;}.f96 {font-size: 96px !important;}.f97 {font-size: 97px !important;}.f98 {font-size: 98px !important;}.f99 {font-size: 99px !important;}.f100 {font-size: 100px !important;}


html, body {height: 100%;width: 100%;}
h1,h2,h3,h4,h5 {font-weight: normal;}
div {position:relative;}

* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #e2e2e2;
	color: #000;	
	line-height: normal;
	font-family: arial, sans-serif;
    font-size: 26px;
    line-height: 1.4em;
}

.container {
	width: 640px;
	margin: 0 auto;	
	background: #fff;
}

.header, .header_cart, .header_upsell {
	width: 640px;
    height: 70px;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/bg.png) repeat 80px -170px;
    box-shadow: 0 0 4px 1px rgba(68,68,68,0.6);
    z-index: 10;
}

.nav-logo {
    position: absolute; 
    top: 4px;
    left: 93px;
}
.header_cart .nav-logo, .header_upsell .nav-logo {left: 5px;}

.nav-wblogo {
    position: absolute; 
    top: 4px;
    left: 277px;
}

.header_upsell .nav-wblogo {left: 504px;}

.nav-asotv {
    position: absolute; 
    top: 9px;
    left: 359px;
}
.nav-try {
    position: absolute; 
    top: 0;
    right: 0;
}
.nav-ssl {
    position: absolute; 
    top: 11px;
    left: 403px;
}

.icon_lock {
    position: absolute; 
    top: 7px;
    left: 594px;
}


.toggleNav {
    position: absolute; 
    top: 15px;
    left: 15px;
}
#headernav {
    position: absolute;
    z-index: 40;
    width: 75%;
    background: #fff;
}
#headernav ul {
    list-style: none;
    font-size: 44px;
}

#headernav ul li {
    margin-bottom: 4px;
}
#headernav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: left;
    background: #973182 url(//d1kg9stb0ddjcv.cloudfront.net/images/mobile/arrow_nav.png) no-repeat 400px 34px;
    padding: 31px 0 30px 20px;
}

#headernav ul li a:hover, #headernav ul li a:active {
    background-color: #be629f; 
}


#bottomnav {
    background: #fff;
}
#bottomnav ul {
    list-style: none;
    font-size: 44px;
}

#bottomnav ul li {
    margin-bottom: 4px;
}
#bottomnav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #973182 url(//d1kg9stb0ddjcv.cloudfront.net/images/mobile/arrow_nav.png) no-repeat 546px 34px;
    padding: 31px 0 30px 20px;
}

#bottomnav ul li a:hover, #headernav ul li a:active {
    background-color: #be629f; 
}


.footer {
	width: 640px;
	background: url(//d1kg9stb0ddjcv.cloudfront.net/images/bg.png) repeat 64px 10px;
	padding: 62px 30px 20px 30px;	
}

.footer p {
	padding-bottom: 46px;	
	font-size: 25px;
	line-height: 38px;
    color: #fff;
}

.footerlogos img {
    display: inline-block;
    margin: 0 12px;
}

#upsells .footer #fullsitelink {display: none;}


.content {
	width: 640px;	
	background: #fff;
}

.content .quote1 {
	background: url(/content/images/openquotelarge.png) no-repeat 0 0,url(/content/images/closequotelarge.png) no-repeat bottom right;
	padding: 20px 60px 0 60px;
	margin-bottom: 30px;
	color: #7f8754;
}	

.content .greenquote {	background: url(/content/images/openquotegreen.png) no-repeat 0 0,url(/content/images/closequotegreen.png) no-repeat bottom right;
	margin: 0 15px 30px;
	padding: 10px 30px;	font-size: 28px;
	line-height: 36px;
}

.content .redquote {	background: url(/content/images/openquotered.png) no-repeat 0 0,url(/content/images/closequotered.png) no-repeat bottom right;
	margin: 0 15px 30px;
	padding: 10px 30px;	font-size: 28px;
	line-height: 36px;
	
}
.greenline {
	width: 100%;
	margin: 0 0 30px;
	height: 1px;
	background: #7f8754;	
}

.content a {
	color: #146cd8;
}

.homevideowrap {
    position: absolute;
    top: 41px;
    left: 271px;
    width: 357px;
    height: 277px;
    z-index: 10;
}

.homevid1 {
    position: absolute;
    top: 27px;
    left: 30px;
    width: 264px;
    height: 199px;
}

.home_tvpiece_1 {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 357px;
    height: 33px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_1.png) no-repeat 0 0;
    background-size: 357px 33px;
}
.home_tvpiece_2 {
    display: block;
    position: absolute;
    top: 33px;
    left: 0px;
    width: 37px;
    height: 158px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_2.png) no-repeat 0 0;
    background-size: 37px 158px;
}
.home_tvpiece_3 {
    display: block;
    position: absolute;
    top: 33px;
    left: 250px;
    width: 107px;
    height: 158px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_3.png) no-repeat 0 0;
    background-size: 107px 158px;
}
.home_tvpiece_4 {
    display: block;
    position: absolute;
    top: 191px;
    left: 0px;
    width: 357px;
    height: 86px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_4.png) no-repeat 0 0;
    background-size: 357px 86px;
}

.home_tvpiece_center {
    display: block;
    position: absolute;
    top: 14px;
    left: 12px;
    width: 264px;
    height: 199px;
    z-index: 0;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_center.jpg) no-repeat 0 0;
    background-size: 264px 199px;
}


.videowrap {
    margin: 12px 0 6px 30px;
    width: 583px;
    height: 457px;
    padding: 42px 0 0 0;
}
.tvpiece_1 {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 583px;
    height: 54px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_1.png) no-repeat 0 0;
    background-size: 583px 54px;
}
.tvpiece_2 {
    display: block;
    position: absolute;
    top: 54px;
    left: 0px;
    width: 60px;
    height: 258px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_2.png) no-repeat 0 0;
    background-size: 60px 258px;
}
.tvpiece_3 {
    display: block;
    position: absolute;
    top: 54px;
    left: 408px;
    width: 175px;
    height: 258px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_3.png) no-repeat 0 0;
    background-size: 175px 258px;
}
.tvpiece_4 {
    display: block;
    position: absolute;
    top: 311px;
    left: 0px;
    width: 583px;
    height: 140px;
    z-index: 25;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_4.png) no-repeat 0 0;
    background-size: 583px 140px;
}

.tvpiece_center {
    display: block;
    position: absolute;
    top: 20px;
    left: 18px;
    width: 431px;
    height: 324px;
    z-index: 0;
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/tvpiece_center.jpg) no-repeat 0 0;
    background-size: 431px 324px;
}

.batman_home {
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/mobile/batman.png) no-repeat 0 bottom;
    width: 640px;
    min-height: 568px;
    padding: 20px 0 0 174px;
}

.content .purplebox {
    width: 454px;
    padding: 26px 12px 20px 17px;
    border-radius: 25px;
    background: #973182;
}

.content .purplebox ul {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
}
.content .purplebox ul li {
    margin-left: 17px; 
    padding-bottom: 9px;
}
.content .purplebox ul li:before {
    content: '\2022';
    float: left; 
    margin-left: -17px;
    color: #fff;
}

.home_capedcrusader {
    background: #e8e8e8; /* Old browsers */
background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.home_skyline {
    background: url(//d1kg9stb0ddjcv.cloudfront.net/images/mobile/skyline_home.png) no-repeat 0 bottom;
    padding: 0 0 280px 42px;
}

.content .home_skyline ul {
    position: relative;
    z-index: 20;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    margin: 0;
    padding: 0;
    color: #000;
    list-style: none;
}
.content .home_skyline ul li {
    margin-left: 13px; 
    padding-bottom: 15px;
}
.content .home_skyline ul li:before {
    content: '\2022';
    float: left; 
    margin-left: -17px;
    color: #69a629;
}





.greenbar {
	background: #68a819;
	color: #fff;
	font-size: 38px;
	display: block;
	font-family: 'helvcond', sans-serif;
	padding: 23px 4px 20px 4px;	
    text-align: center;
}


#guarantee, #returns {
	width: 500px;
	padding: 30px;
	background: #fff;
}

#guarantee p, #returns p {
	font-size: 16px;
	padding-bottom: 24px;
}	

.nowrapper .fancybox-skin {
	background: none;	
	box-shadow: none;
	-webkit-box-shadow:none;
}

.container h2 {
    font-size: 49px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    padding: 50px 22px 30px 22px;	

}

.container h3 {
    font-size: 29px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    padding: 0 22px 30px 22px;	

}

.container .season_hdr h3 {
    padding: 0;	
}

.container h4 {
    padding: 10px 18px 6px 24px;
    font-size: 30px;
    font-weight: bold;
}

.content p {
	font-size: 26px;
	line-height: 36px;
	padding: 0 24px 40px;	
}

#receipt .content p {
	font-size: 25px;
	line-height: 32px;
	padding: 0 10px 40px 16px;	
}

.content ul {
	font-size: 28px;
	line-height: 36px;
	padding: 0 24px 40px;
	margin-left: 26px;	
}



.container .faq h4 {
    padding: 10px 18px 5px 13px;
    font-size: 35px;
    font-weight: bold;
}

.content .faq_qs {
    list-style: none;
    padding: 10px 18px 5px 14px;
    margin: 0;
    font-size: 26px;
    line-height: 36px;
}
.content .faq_qs li {
    padding-bottom: 40px;
}
.content .faq_qs li a {
    color: #000;
}

.content .faq dl {
    list-style: none;
    padding: 0 18px 50px 14px;
}

.content .faq dl dt {
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
}
.content .faq dl dd {
    font-size: 26px;
    line-height: 34px;
    padding-bottom: 38px;
}


/* FAQ COLLAPSE/EXPAND STYLES */

.content .faqanswer {
	display: none;
	width: 620px;
	background: #e5e5e5;
	padding: 12px 20px 0 30px;	
	margin: 0 auto;
}

.content .faqanswer p {
}
.content .faqanswer a {
	text-decoration: none;
	color: #333;	
}


.content .togglefaq {
	text-decoration: none;
	color: #333;
	font-size: 28px;
	padding: 10px 30px;
	line-height: 32px;
	display: block;
	border: 1px solid #d0d0d0;
	width: 620px;
	margin: 0 auto -1px;
}
.icon-plus {
	color: #8a160f;
	margin-right: 20px;
	font-size: 32px;
	float:left;
	min-height: 50px;
}

.icon-minus {
	color: #464646;
	margin-right: 20px;
	font-size: 32px;
	float:left;
}



.bg_thwack {background: url(//d1kg9stb0ddjcv.cloudfront.net/images/mobile/bg_thwack.png) no-repeat 0 550px;}
.bg_burst {background: url(//d1kg9stb0ddjcv.cloudfront.net/images/mobile/bg_burst.png) no-repeat 0 550px;}

.select-1 {
    padding: 7px 20px;
    border: #ddd solid 1px;
    border-radius: 7px;
    font-size: 38px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.season_txt {
    padding: 34px 24px 34px 18px;
}

.episode_details {
    list-style: none;
    font-size: 26px;
    line-height: 34px;
}
.episode_details li {
    margin-left: 24px;
    padding-bottom: 22px;
    counter-increment: item; /*increments list items*/
}

.episode_details li::before {
    float: left; 
    margin-left: -24px;
    content: counter(item) ' \2013'; /* this outputs the number plus the dash */
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.episode_title {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    display: block;
    text-indent: 6px;
}
.episode_date {
    
}



.cast {
    padding: 25px 0 0 20px;
}

.cast_member {
    float: left; 
    width: 275px;
    margin-right: 38px;
    min-height: 410px;
    text-align: center;
}

.cast .cast_member:last-child {margin-right: 0;}

.container .cast_member h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: #74af54;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 19px;
    padding-bottom: 0;
}

.container .cast_member h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    line-height: 1.3em;
    font-weight: 700;
}

.container .cast_member p {
    font-size: 25px;
    line-height: 1.3em;
    padding: 0 0 30px 0;
}


.content .clipslist {
    padding: 0;
    margin: 0 0 70px 28px;
    list-style: none;
}
.clipslist li {
    float: left;
    width: 202px;
    padding-bottom: 27px;
}



/* -----CART MOBILE ----- */
.fixWidth {
	width: 100%;	
}

.fixWidth td {
	text-align:center;	
}

.cart_mobile {
	width: 593px;
	position:relative;
	margin: 0 auto;
}
.cart_mobile .form_line {
	position:relative;
	width: 593px;
	display:block;
	padding-bottom: 26px;
}
.form_line_btn {
	position:relative;
	width: 620px;
	display:block;
	padding: 50px 0;
	text-align:right;
    margin: 0 auto;
}
.multipay_txt {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 50px;
}

.cart_mobile .label-1 {
    display: none;
	float:left;
	position:relative;
	width:100px;
	padding-top: 2px;
}
.cart_mobile .label-2 {
	float:left;
	position:relative;
	width: 533px;
	font-size: 28px;
}
.cart_mobile .label-3 {
	
}
.cart_mobile .checkbox-left {
	float:left;
	position:relative;
	margin-right: 10px;
	margin-bottom: 20px;
}
.cart_mobile .checkbox-left input {
	width: 22px;
    height: 22px;
}

.cart_mobile .checkbox-left2 {
	float:left;
	position:relative;
	margin-right: 10px;
	margin-bottom: 50px;
}
.cart_mobile .checkbox-left2 input {
	width: 22px;
    height: 22px;
}

::-webkit-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}

.cart_mobile .text-1 {
	width: 590px;
	position:relative;
	float:left;
	font-size: 36px;
	color: #000;
	padding: 33px;
	border-color: #5D605D #CCCCCC #CCCCCC #5D605D;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 1px 2px 0 #666666 inset;
}
.cart_mobile .text-2 {
	width: 200px;
	position:relative;
	float:left;
	padding: 33px;
	font-size: 36px;
	color: #000;
	border-color: #5D605D #CCCCCC #CCCCCC #5D605D;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 1px 2px 0 #666666 inset;
}
.cart_mobile .text-3 {
	width: 285px;
	padding: 33px;
	float:left;
	margin-right: 20px;
	position:relative;
	font-size: 36px;
	color: #000;
	border-color: #5D605D #CCCCCC #CCCCCC #5D605D;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 1px 2px 0 #666666 inset;
}

.cart_mobile .text-3:last-child {
	margin-right: 0;	
}
.cart_mobile .text-4 {
	width: 210px;
	float:left;
	padding: 33px;
	margin-right: 20px;
	position:relative;
	font-size: 36px;
	color: #000;
	border-color: #5D605D #CCCCCC #CCCCCC #5D605D;
	border-radius: 7px 7px 7px 7px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 1px 1px 2px 0 #666666 inset;
}
.cart_mobile .text-4:last-child {
	margin-right: 0;	
}
.cart_mobile .error-1 {
	position:relative;
	font-size: 24px;
	color: #ff0000;
}
.cart_mobile .error-2 {
	position:relative;
	font-size: 24px;
	color: #ff0000;
}
.cart_mobile .cvv {
  color: #4E4E4E;
  font-size: 28px;
  padding-top: 33px;
  text-decoration: underline;
  float: left;
}
.slides {
	width: 640px;
	height: 324px;
	overflow: hidden;	
}

.horzgrayline {
	width: 100%;
	height: 3px;
	background: #e9e9e9;
	margin: 0 0 30px 0;	
}

.error {
	font-size: 24px;
	color: red;	
}

.horzpinkline {
  background: none repeat scroll 0 0 #E097C5;
  height: 3px;
  margin: -20px 0 -20px 0;
  width: 100%;
}

/* upsells */
.page_upsell {	
padding-bottom: 20px;
}

.content p.ask {
	font-size: 36px;
	font-weight: bold;
	line-height: normal;
	padding-top: 40px;
	padding-right: 70px;
	padding-left: 20px;
}

.content p.btns {
	padding-left: 19px;
    position: relative;
}
.btns a {
	display: block;
}

.btn_no {
    margin: 9px 0 0 130px;
    width: 197px;
}

.ask_arrow {
	position: absolute;
	left: 492px;
	top: -10px;
}

.page_upsell label {
	font-size: 26px;
    line-height: normal;
}

.page_upsell select {
	padding: 10px;
	font-size: 24px;
}

.radiosize {
    width: 20px;
    height: 20px;
    float: left; 
    margin-top: 3px;
}

.page_upsell ul {
    margin-bottom: 20px; 
    margin-left: 6px; 
    list-style: none;
    padding-right: 16px;
}
.page_upsell ul li {
    margin-left: 10px; 
    padding-bottom: 36px;
    font-size: 26px;
    line-height: 34px;
}
.page_upsell ul li:before {
    content: '\2022';
    float: left; 
    margin-left: -20px;
}


.page_upsell ul li ul {
    margin-top: 5px; 
    margin-bottom: 5px; 
}
.page_upsell ul li ul li {
    margin-left: 8px; 
    padding-bottom: 36px;
    font-size: 26px;
    line-height: 34px;
}
.page_upsell ul li ul li:before {
    content: '\002D';
    float: left; 
    margin-left: -20px;
}

/* receipt */

.receipt_header {
	width: 100%;
	background: #ebebeb;
	height: 56px;
	line-height: 56px;
	vertical-align: middle;
	color: #000;
	padding: 0 0 0 38px;
	font-weight: bold;
	font-size: 28px;	
	display: block;
	margin: 20px 0 30px 0;
}

.table {
	border: none;    
	border-spacing:0;
    border-collapse:collapse;
	font-size: 26px;
    line-height: 33px;
	margin-bottom: 50px;
    color: #5c5c5c;
}

.table td {
	padding: 0 20px;	
}

.table tr td:first-child {
	padding-left: 44px;	
}

.receipt_table {
	border: none;    
	border-spacing:0;
    border-collapse:collapse;
	font-size: 24px;
	margin-bottom: 40px;	
	width: 100%;
}

.receipt_table th {
  
  color: #979797;
  font-size: 22px;
  font-weight: bold;
  padding: 14px;
  white-space: nowrap;
}

.receipt_table td {
	padding: 20px;
	vertical-align:top;
}



.cart_table {
	display:block;
	color: #000;
	font-size: 24px;
	margin: 0 auto;
	position:relative;	
}

.cart_text_hdr {
    float: left;
    width: 548px;
    padding: 30px 0 0 30px;
}

.product_price_hdr {
    float: left;
    width: 90px;
    padding: 30px 0 0 0;
}

.container .cart_text_hdr h4,
.container .product_price_hdr h4 {
    font-size: 20px;
    color: #979797;
    font-weight: bold;
    line-height: 1em;
}
.cart_image {
    float: left;
    width: 120px;
    padding: 0 0 30px 9px;
}
.cart_image img {
    display: block;
    border: #d0d0d0 solid 1px !important;
    padding: 12px 3px;
    width: 93px;
}

.cart_text {
	float:left;
	position:relative;
	width: 366px;	
}

.cart_select {
  float: left;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 164px;
}

.product_price {
	float:left;
    font-weight: bold;
	width: 132px;
    text-align: right;
    padding-top: 20px;
}

.freeshipcall {
	float:right;

}	

.cart_totals {
  display: block;
  position: relative;
  font-size: 24px;
	color: #000;
	padding-bottom: 30px;
	font-weight: bold;
}

.cart_totals_left {
  float: left;
  width: 485px;
  text-align: right;
  color: #979797;
}

.cart_totals_right {
	position:relative;
	float:left;
	width: 132px;
  text-align: right;
  color: #979797;
}

.horizontal_dots {
	height: 1px;
	margin: 0 0 30px 9px;
	border-top: 1px solid #464646;	
}
#receipt .horizontal_dots {
	height: 1px;
	margin: 0 0 0 9px;
	border-top: 1px solid #464646;	
}

.receipt_item {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
}

.content .basket_description {
	padding: 0 0 24px 0;	
}
.content .basket_description h3 {
	font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    padding: 10px 0 10px 0;
}
.content .basket_description p {
	display: none;
}



/* popups */
.close_popup {
    position: absolute;
    top: 14px;
    right: 14px;
}
#included {
    display: none;
    width: 628px;
    height: 2222px;
    padding: 53px 10px 10px 22px;
    background: #fff;
    border: #fff solid 1px;
    border-radius: 8px;
    color: #000;
    margin: 20px 0;
}

#included ul {
    margin: 18px 0 0 0;
    font-size: 29px;
    font-family: 'Open Sans Condensed', arial, sans-serif;
    line-height: 32x;
    list-style: none;
}
#included ul li {
    margin-left: 13px;
    padding-bottom: 12px;
}

#included ul li:before {
    content: '\2022';
    float: left; 
    margin-left: -13px;
    color: #74af54;
}

.included_yellowbox {
    width: 612px;
    left: -15px;
    margin: 10px auto 20px auto;
    padding: 28px 38px 30px 35px;
    border-radius: 25px;
    background: #fff7b8;
}

#included .included_yellowbox ul {
    font-family: arial, sans-serif;
    font-size: 25px;
    line-height: 27px;
    margin-top: 0;
}
#included .included_yellowbox ul li {
    margin-left: 25px; 
    padding-bottom: 36px;
    text-indent: 6px;
}
#included .included_yellowbox ul li:before {
    content: '\002D';
    float: left; 
    margin-left: -6px;
    color: #000;
}


.choosebox1 {
    width: 610px;
    margin: 0 auto 58px auto;
    padding: 13px 15px;
    border: #cdcdcd solid 1px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(68,68,68,0.4);
    background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #f4f4f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#f4f4f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#f4f4f4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#f4f4f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

}

.choosebox2 {
    width: 610px;
    margin: 0 auto 58px auto;
    padding: 13px 15px;
    border: #cdcdcd solid 1px;
    border-radius: 12px;
    background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #d7ebb4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d7ebb4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#d7ebb4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#d7ebb4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#d7ebb4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#d7ebb4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d7ebb4',GradientType=0 ); /* IE6-9 */

}

.choosebox1 input, .choosebox2 input {
    width: 20px;
    height: 20px;

}

.chooselabel_1 {
    float: left;
    width: 530px;
    height: 232px;
}

.content .details p {
    padding-left: 10px;
    position: relative;
    z-index: 20;
}

.content .details ul {
    margin: 0 0 14px 10px;
    list-style: none;
    padding: 0;
}
.details ul li {
    margin-left: 17px; 
    padding-bottom: 38px;
}
.details ul li:before {
    content: '\2022';
    float: left; 
    margin-left: -17px;
}

.prod_continue {
    display: block;
    margin: 0 auto 70px auto;
}