  <appSettings>
    <!--<add key="client_db"   value="server=10.128.100.85\sql3; Database=Batmanondvd.com_test;UID=WebApp1;Password=CONVERSIONWebApp@11;Persist Security Info=False;Connect Timeout=120;" />-->
    <add key="client_db"   value="server=CSDBServer101;Integrated Security=SSPI; Database=Batmanondvd.com;" />
    <add key="master_db"    value="server=CSDBServer101;Integrated Security=SSPI; Database=CSMaster;" />
    <add key="dependencyResolverTypeName" value="CSBusiness.Resolver.UnityDependencyResolver, CSBusiness" />
    <add key="PassPhrase" value="Pas5pr@se"/>
    <!--<add key="EncryptionKeyPath" value="C:\EncryptionKeys\KeyContainer.txt" />-->
    <add key="AdminCookieSetting" value="20" />
    <add key="DBPaymentGateway" value="false" />
    <add key="EmailId" value="1" />
    <add key="DisCountCardDisplay" value="true" />
    <add key="AdminEmail" value="mhaeri@conversionsystems.com" />
	  <!--add key="SessionTTL" value="10" /-->
    <!--<add key="OrderProcessType" value="1"></add>-->
    <!--add key="PathSetting" value="11" / -->
    <add key="SslRedirect" value="false" />
    <add key="AdminAlertEmailId" value="3" />
    <add key="EmailIdCustomerSupport" value="4" />

 
    <!-- Client Specific Settings-->
    <add key="APIKey" value="hs6f7pFGZ8P0mbtOkxzfFr65Aj5L7FzxQjyPzuTvHovT0iGnaew88LAwIzFcHFzdoqYpKA=="></add>
    <add key="TokenExID" value="9x/7hqA+9rS83UTJ3W9XvaqVvwGfi/5HoZs3LQn9SJt7iXi1L0UZE8O+D6j0BTtb"></add>
    <add key="TokenExJavaUrl" value="https://test-api.tokenex.com/inpage/js/TokenEx-Lite.js"></add>
    <add key="TokenExAPIUrl" value="https://test-api.tokenex.com/TokenServices.svc/REST/TokenizeFromEncryptedValue"></add>
    <add key="TokenExPublicKey" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvWpIQFjQQCPpaIlJKpegirp5kLkzLB1AxHmnLk73D3TJbAGqr1QmlsWDBtMPMRpdzzUM7ZwX3kzhIuATV4Pe7RKp3nZlVmcrT0YCQXBrTwqZNh775z58GP2kZs+gVfNqBampJPzSB/hB62KkByhECn6grrRjiAVwJyZVEvs/2vrxaEpO+aE16emtX12RgI5JdzdOiNyZEQteU6zRBRJEocPWVxExaOpVVVJ5+UnW0LcalzA+lRGRTrQJ5JguAPiAOzRPTK/lYFFpCAl/F8wtoAVG1c8zO2NcQ0Pko+fmeidRFxJ/did2btV+9Mkze3mBphwFmvnxa35LF+Cs/XJHDwIDAQAB"></add>
    <add key="PartnetID" value="venacuradirect_com"></add>
    <add key="PartnetPassword" value="bge63err"></add>
    <add key="PrepaidAPIKey" value="asd5fEFGe[nb2;13GEsd9fg"></add>
    <add key="ACMGOrderServiceURL" value="https://db2.urbannutritioninc.com/webservice/order_service.php"></add>
    <add key="ACMGPrePaidURL" value="https://db2.urbannutritioninc.com/webservice/util_service.php"></add>
    

  </appSettings>
