<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="PaymentProvider" type="CSPaymentProvider.ProviderConfigurationHandler, CSPaymentProvider" />
  </configSections>
  <!-- START: Custom Section Definitions-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="BufferingWrapper" name="buff" flushTimeout="6000">
        <target xsi:type="Database" name="db">
          <!-- SQL command to be executed for each entry -->
          <commandText>INSERT INTO [EventLog](EventDate, [Level], Server, HostName, SessionID, Url, Query, Message, StackTrace) VALUES(GETUTCDATE(), @level, @server, @hostname, @sessionID, @url, @query, @message, @stackTrace)</commandText>
          <!-- parameters for the command -->
          <parameter name="@level" layout="${level}" />
          <parameter name="@server" layout="${machinename}" />
          <parameter name="@hostname" layout="${aspnet-request:serverVariable=HTTP_HOST}" />
          <parameter name="@sessionID" layout="${aspnet-sessionid}" />
          <parameter name="@url" layout="No URL" />
          <parameter name="@query" layout="No Query" />
          <!--<parameter name="@url" layout="${aspnet-request:serverVariable=URL}"/>
          <parameter name="@query" layout="${aspnet-request:serverVariable=QUERY_STRING}"/>-->
          <parameter name="@message" layout="${message}" />
          <parameter name="@stackTrace" layout="${exception:innerFormat=Message,ToString,StackTrace:maxInnerExceptionLevel=10:format=ToString,StackTrace" />
          <!-- connection string -->
          <dbProvider>System.Data.SqlClient</dbProvider>
          <connectionString>server=CSDBServer101;Integrated Security=SSPI; Database=Batmanondvd.com;Connect Timeout=120</connectionString>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="buff" />
    </rules>
  </nlog>
  <!-- END: Custom Section Definitions-->
  <connectionStrings />
  <system.web>
    <machineKey validationKey="CCA1B8D6CE804A2EB9261B88F5ABCE34383529CC200D3171EDFF771CF656429CC8F0C94983B5F4395F1E92B9073D0D0A30803B7E59A8F6C1EB96E41D7147D974" decryptionKey="40B75786B1E784724D8C316A7B97912D9C191345481C423317671E00BA46511C" validation="SHA1" decryption="AES" />
    <browserCaps userAgentCacheKeyLength="512" />
    <compilation debug="true" targetFramework="4.0" />
    <trace enabled="false" pageOutput="false" />
    <customErrors mode="Off" />
    <sessionState mode="SQLServer" sqlConnectionString="server=CSDBServer101;Integrated Security=SSPI;" timeout="120" stateNetworkTimeout="100" />
    <!-- Best practice to disable sessionState-->
    <pages enableSessionState="true" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" validateRequest="false" maintainScrollPositionOnPostBack="true"/>
    <httpRuntime requestValidationMode="2.0"/>
    <!--<httpCookies requireSSL="true" httpOnlyCookies="true"/>-->
  </system.web>
  <appSettings configSource="appsettings.config" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="1048576" maxReceivedMessageSize="1048576" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="131072" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ITokenServices">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.hitslink.com/reportws.asmx" binding="basicHttpBinding" bindingConfiguration="ReportWSSoap" contract="HitLinks.ReportWSSoap" name="ReportWSSoap" />
      <endpoint address="https://test-api.tokenex.com/TokenServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokenServices" contract="TokenEx_Test.ITokenServices" name="BasicHttpBinding_ITokenServices" />
    </client>
  </system.serviceModel>
  <!--To prevent Slow HTTP POST vulnerability--><!--
  <system.applicationHost>
    <sites>
      <siteDefaults>
        <limits connectionTimeout="00:02:00" />
      </siteDefaults>
    </sites>
  </system.applicationHost>-->
  <system.webServer>
    <!--To prevent Slow HTTP POST vulnerability-->
    <security>
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="3000" maxQueryString="80" maxUrl="180">
          <headerLimits>
            <clear/>
            <add header="Content-Type" sizeLimit="48"/>
            <add header="Content-Length" sizeLimit="250"/>
          </headerLimits>
        </requestLimits>-->
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>

    <!--To catch all non aspx requests in global.asax-->
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="PerformanceMonitorModule" type="Sample.HttpModules.PerformanceMonitorModule" />-->
    </modules>
    <!--<httpErrors existingResponse="Replace" defaultResponseMode="Redirect" errorMode="Custom">
     <remove statusCode="500" />
      <error statusCode="500" responseMode="Redirect" path="500.aspx" />
      <remove statusCode="501" />
      <error statusCode="501" responseMode="Redirect" path="500.aspx" />
      <remove statusCode="502" />
      <error statusCode="502" responseMode="Redirect" path="500.aspx" />
      <remove statusCode="404" />
      <error statusCode="404" path="/400.aspx" responseMode="ExecuteURL" />--><!-- --><!--
    </httpErrors>-->
    <handlers accessPolicy="Read, Script">
      <!--<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"
         path="*" verb="GET,HEAD,POST,DEBUG"
         modules="IsapiModule"
         scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
         preCondition="integratedMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="StaticFile"
         path="*" verb="*"
         modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule"
         resourceType="Either" requireAccess="Read" />-->
    </handlers>
  </system.webServer>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Pickup" />
      </smtp>
    </mailSettings>
  </system.net>
  

  <runtime>
  

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  

              <dependentAssembly>
  

                    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  

                    <bindingRedirect oldVersion="0.0.0.0-4.0.7.0" newVersion="4.0.7.0" />
  

              </dependentAssembly>
  

        </assemblyBinding>
  

  </runtime>
</configuration>