<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSPaymentProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CSPaymentProvider.Properties.Settings>
            <setting name="CSPaymentProvider_net_paymentech_wsvar_PaymentechGateway"
                serializeAs="String">
                <value>https://wsvar.paymentech.net/PaymentechGateway</value>
            </setting>
        </CSPaymentProvider.Properties.Settings>
    </applicationSettings>
</configuration>